html, body {
    margin: 0;
    padding: 0;
}

#homepage {
  background-image: url('images/home.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.fullSize {
  height:100%;
  width: 100%;
  overflow: hidden;
}
#mediaList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.mediaElem {
    float: right;
}

.mediaElem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mediaElem a:hover {
    background-color: #111;
}
